/* Profile Website   */
/* by Brian Cottrell */
/* 01-09-2015        */

.site-container{
    width: 50%;
    padding: 25% 0%;
    margin-top: 0%;
    margin-left: 25%;
    background-color: rgb(200,200,200);
}
.site{
	position: absolute;
	background-color: rgb(255,255,255);
	background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 50%;
}
.info-container{
    position: absolute;
    padding: 10%;
    margin-left: 15%;
    margin-top: -10%;
    border-radius: 50%;
}
.info{
    position: absolute;
    width: 80%;
    height: 60%;
    margin-left: -40%;
    margin-top: -30%;
    color: blue;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 10%;
    border: 2px solid blue;
}